// scss/HomePage.scss

@import 'base';
@import 'layout';
@import 'header';
@import 'carousel';
@import 'sections';
@import 'cards';
@import 'animations';


.header-animation-container {
  width: 100%;
}

.parallax-container {
  position: relative;
  overflow: hidden;
}

.parallax-section {
  position: relative;
  overflow: hidden;
}

.ant-layout, .ant-card {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}